<%
let args = {
    pageTtl: user.name + 'のダッシュボード',
    pageDes: 'ダッシュボードのディスクリプション',
    pageKey: 'ダッシュボードのキー',
    pageUrl: '/dashboard/',
    // pageImg: '/dashboard/ogp.png',
    // pageCss: '/dashboard.css',
    // pageJs: '/dashboard.min.js',
    // pageCss02: '',
    // pageJs02: '',
    // is_jquery: true,
    // is_home: true,
};
%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./../_inc/load-head-ga') %>
  <%- include('./../_inc/load-head-meta',{ args, user }) %>
  <%- include('./../_inc/load-head-css',{ args, user }) %>
  <%- include('./../_inc/load-head-js',{ args, user }) %>
</head>

<body class="pagetype-home">
  <%- // include('./../_inc/load-body-svg') %>
  <%- include('./../_inc/load-body-header',{ args, user }) %>

  <div class="container">
    <p class="text-right"><a href="/logout/" class="btn btn-secondary text-white px-5 py-2">ログアウトはこちら</a></p>
    <p>
    <h1>開発中...</h1>（ User：<%= user.name %>のダッシュボード )</p><br>
  </div>
  
  <%- include('./../_inc/load-body-footer',{ args, user }) %>
  <%- include('./../_inc/load-body-js',{ args, user }) %>
</body>

</html>