<%
let args = {
    pageTtl: 'コメント投稿' + post.id,
    // pageDes: '',
    // pageKey: '',
    // pageUrl: `/posts/create/`,
    // pageImg: '/top/ogp.png',
    // pageCss: '/top.css',
    // pageJs: '/top.min.js',
    // pageCss02: '',
    // pageJs02: '',
    // is_jquery: true,
    // is_home: true,
};
%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./../_inc/load-head-ga') %>
  <%- include('./../_inc/load-head-meta',{ args, user }) %>
  <%- include('./../_inc/load-head-css',{ args, user }) %>
  <%- include('./../_inc/load-head-js',{ args, user }) %>
  <script src="/modules/ckeditor/ckeditor/ckeditor.js"></script>
</head>

<body class="pagetype-home">
  <%- // include('./../_inc/load-body-svg') %>
  <%- include('./../_inc/load-body-header',{ args, user }) %>

  <div class="container bg-light p-5 rounded">
    <form method="POST" action="/create/comment/">

      <div class="form-group mb-4">
        <label for="form-label"><b class="h4">Q</b>『<b><%= post.title %></b>』へのコメントを作成</label>
      </div>
      <div class="form-group mb-4">
        <label for="form-label">・内容</label>
        <textarea class="form-control" name="comment" id="comment"></textarea>
      </div>
      <input type="hidden" value="<%= post.id %>" name="post_id">
      <button type="submit" class="btn btn-primary">C r e a t e</button>
    </form>
  </div>

  <%- include('./../_inc/load-body-footer',{ args, user }) %>
  <%- include('./../_inc/load-body-js',{ args, user }) %>

  <% /* -------------------------
    ▽ 画像のドラッグ＆ドロップ処理 ▽
  ------------------------------- */%>
  <script>
    var fileArea = document.getElementById('drag-drop-area');
    var fileInput = document.getElementById('fileInput');

    fileArea.addEventListener('dragover', function(evt) {
      evt.preventDefault();
      fileArea.classList.add('dragover');
    });

    fileArea.addEventListener('dragleave', function(evt) {
      evt.preventDefault();
      fileArea.classList.remove('dragover');
    });
    fileArea.addEventListener('drop', function(evt) {
      evt.preventDefault();
      fileArea.classList.remove('dragenter');
      var files = evt.dataTransfer.files;
      fileInput.files = files;
    });
  </script>
  <% /* -------------------------
    ▽ ckeditor ▽
  ------------------------------- */%>
  <script>
    CKEDITOR.replace('comment', {
      filebrowserUploadUrl: "/create/CKEditorUpload",
      filebrowserUploadMethod: 'form',
      // スペルチェック機能OFF
      scayt_autoStartup: false,
      // Enterを押した際に改行タグを挿入
      enterMode: CKEDITOR.ENTER_BR,
      // Shift+Enterを押した際に段落タグを挿入
      shiftEnterMode: CKEDITOR.ENTER_P,
      // idやclassを指定可能にする
      allowedContent: true,
      // preコード挿入時
      format_pre: {
        element: "pre",
        attributes: {
          class: "code",
        },
      },
      // webからコピペした際でもプレーンテキストを貼り付けるようにする
      forcePasteAsPlainText: true,
      // 自動で空白を挿入しないようにする
      fillEmptyBlocks: false,
      // タブの入力を無効にする
      tabSpaces: 0,
    });
  </script>
</body>

</html>