<%
let args = {
    // pageTtl: title,
    // pageDes: 'トップディスクリプション',
    // pageKey: 'トップキー',
    // pageUrl: '/index.html',
    // pageImg: '/top/ogp.png',
    // pageCss: '/top.css',
    // pageJs: '/top.min.js',
    // pageCss02: '',
    // pageJs02: '',
    // is_jquery: true,
    is_home: true,
};
%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./_inc/load-head-ga') %>
  <%- include('./_inc/load-head-meta',{ args, user }) %>
  <%- include('./_inc/load-head-css',{ args, user }) %>
  <%- include('./_inc/load-head-js',{ args, user }) %>
</head>

<body class="pagetype-home">
  <%- // include('./_inc/load-body-svg') %>
  <%- include('./_inc/load-body-header',{ args, user }) %>

  <% if(!user){ %>
  <div class="container">
    <h5 class="h5 d-inline" href="/"><img src="/images/common/favicon.ico" alt="" class="d-inline mb-2" width="64"> Q & A site <small>- ナゼナゼ Express -</small></h5> は質問を投稿、及び回答することができるC to C サービスです。</p>
    <p>質問者の投稿に気軽にコメントとリプライを送ることができ、名前とメールアドレスの登録だけで簡単に始められます。<br>下記のボタンからアカウント作成して本サイトをご活用ください。</p>
    <p class="text-center mt-5">
      <a href="/login/" class="btn btn-primary text-white mr-3 px-5 py-2">▷&nbsp;&nbsp;ログインはこちら</a>
      <a href="/register/"  class="btn btn-secondary text-white px-5 py-2">▷&nbsp;&nbsp;アカウント作成はこちら</a>
    </p>
  </div>
  <% } %>

  <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p><br>
  </div>

  <%- include('./_inc/load-body-footer',{ args, user }) %>
  <%- include('./_inc/load-body-js',{ args, user }) %>
</body>

</html>