<%
let args = {
    // pageTtl: title,
    // pageDes: 'トップディスクリプション',
    // pageKey: 'トップキー',
    // pageUrl: '/index.html',
    // pageImg: '/top/ogp.png',
    // pageCss: '/top.css',
    // pageJs: '/top.min.js',
    // pageCss02: '',
    // pageJs02: '',
    // is_jquery: true,
    is_home: true,
};
%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./_inc/load-head-ga') %>
  <%- include('./_inc/load-head-meta',{ args, user }) %>
  <%- include('./_inc/load-head-css',{ args, user }) %>
  <%- include('./_inc/load-head-js',{ args, user }) %>
</head>

<body class="pagetype-home">
  <%- // include('./_inc/load-body-svg') %>
  <%- include('./_inc/load-body-header',{ args, user }) %>

  <% if(!user){ %>
  <div class="container">
    <h5 class="h5 d-inline" href="/"><img src="/images/common/favicon.ico" alt="" class="d-inline mb-2" width="64"> Q & A site <small>- ナゼナゼ Express -</small></h5> は質問を投稿、及び回答することができるC to C サービスです。</p>
    <p>質問者の投稿に気軽にコメントとリプライを送ることができ、名前とメールアドレスの登録だけで簡単に始められます。<br>下記のボタンからアカウント作成して本サイトをご活用ください。</p>
    <p class="text-center mt-5">
      <a href="/login/" class="btn btn-primary text-white mr-3 px-5 py-2">▷&nbsp;&nbsp;ログインはこちら</a>
      <a href="/register/" class="btn btn-secondary text-white px-4 py-2">▷&nbsp;&nbsp;アカウント作成はこちら</a>
    </p>
  </div><br><br><br>
  <% } else { %>
  <h4 class="text-center mb-5"><a href="/create/post">▶︎&nbsp;&nbsp;質問を投稿しましょう！！</a></h4>
  <% }  %>

  <div class="container bg-light p-5 rounded">
    <h4 class="mb-5 text-center">-&nbsp;&nbsp;新着 Q & A &nbsp;&nbsp;-</h4>
    <div class="row text-center pList">
      <% posts.forEach( post => { %>
      <div class="col-lg-4 mb-5">
        <a href="<%= `/posts/detail/${post.id}` %>" class="d-block text-dark">
          <div class="thum">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>No Image</title>
              <rect width="100%" height="100%" fill="#777"></rect><text x="37px" y="50%" fill="#fff" dy=".3em">No Image</text>
            </svg>
            <%- post.image && `<img src="/uploads/${post.image}">` %>
          </div>
          <h5 class="pTitle my-3 text-left"><b>Q.&nbsp;&nbsp;</b><b><%= post.title %></b></h5>
          <p class="pContent text-left"><%= post.content.replace(/(<([^>]+)>)/gi, "").slice(0, 150) %></p>
          <p><span class="btn btn-primary" href="<%= `/posts/detail/${post.id}` %>">もっと見る »</span></p>
        </a>
      </div>
      <% }) %>
    </div>

  </div>

  <%- include('./_inc/load-body-footer',{ args, user }) %>
  <%- include('./_inc/load-body-js',{ args, user }) %>
</body>

</html>